#board-section {
    flex-grow: 1;
    user-select: none;
}

#board-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 6px;
}

#board-body {
    flex: 1;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(8, 50px);
    gap: 5px;
    background-color: #b9835d;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 10px 0px;
}

#board .highlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 0, 0.5); /* 半透明绿色背景 */
    border: 2px solid green; /* 绿色边框 */
    border-radius: 4px; /* 边角圆润 */
    pointer-events: auto; /* 允许点击事件 */
    box-sizing: border-box; /* 包括边框在内的宽高计算 */
    z-index: 10;
    cursor: pointer;
    margin: 0;
}

#board .chess-container {
    display: inline-block; /* 使棋盘格子在同一行显示 */
    position: relative; /* 允许绝对定位的子元素 */
    width: 50px; /* 设置棋盘格子的宽度 */
    height: 50px; /* 设置棋盘格子的高度 */
    margin: 1px; /* 添加间距，使棋盘格子之间有间隔 */
    box-sizing: border-box; /* 包括边框和内边距在元素的总宽度和高度中 */
}

#board .chess {
    width: 100%;
    height: 100%;
    background-color: #D2B48C;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    border-radius: 20px;
}

#board .red-piece {
    background-color: #C14444;
    cursor: pointer;
}

#board .black-piece {
    background-color: #333;
    cursor: pointer;
}

#board .back {
    background-color: #444;
    color: transparent;
    cursor: pointer;
}
