#anqi-container {
    display: block;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    font-size: 12px
}

#board-section {
    flex-grow: 1;
    user-select: none;
}

#board-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 6px;
}

#board-body {
    flex: 1;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

#anqi-container .boardside {
    height: 100%;
    width: 70px;
}

#anqi-container .boardside {
    height: 100%;
    width: 70px;
}

#board {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(8, 50px);
    gap: 5px;
    background-color: #b9835d;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 10px 5px;
}

#anqi-container .highlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 0, 0.5);
    border: 2px solid green;
    border-radius: 4px;
    pointer-events: auto;
    box-sizing: border-box;
    z-index: 10;
    cursor: pointer;
    margin: 0;
}

#anqi-container .highlight.yellow {
    background-color: rgba(255, 255, 0, 0.5);
    border: 2px solid rgb(80, 80, 0);
}

#anqi-container .chess-container {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    margin: 1px;
    box-sizing: border-box;
}

#anqi-container .chess-container.small {
    width: 30px;
    height: 30px;
}

#anqi-container .chess-container.side {
    width: 100%;
    height: 30px;
}

#anqi-container .chess {
    width: 100%;
    height: 100%;
    background-color: #D2B48C;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    border-radius: 20px;
}

#anqi-container .chess.small {
    font-size: 15px;
    border-radius: 12px;
}

#anqi-container .red-piece {
    background-color: #C14444;
    cursor: pointer;
}

#anqi-container .black-piece {
    background-color: #333;
    cursor: pointer;
}

#anqi-container .back {
    background-color: #444;
    color: transparent;
    cursor: pointer;
}
