/* Chat container styling */
#chat-container {
    display: flex;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    font-size: 12px
}

/* Chat section styling (left side) */
#chat-section {
    flex: 3;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-right: 1px solid #ddd;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#messages {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #F7F7F7;
}

/* 容器用于显示每条消息 */
#messages .message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    background-color: #f1f1f1;
    position: relative;
    max-width: 70%;
}

/* 自己发送的消息 */
#messages .own-message {
    background-color: #d1e7dd;
    margin-left: auto;
    text-align: right;
}

/* 昵称的样式 */
#messages .nickname {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

/* 消息文本的样式 */
#messages .message-text {
    margin: 0;
    color: #333;
}


#input-container {
    display: flex;
    padding: 15px;
    border-top: 1px solid #ddd;
    background-color: #fafafa;
}

#messageInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

#messageInput:focus {
    outline: none;
    border-color: #007bff;
}

button {
    padding: 3px 6px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    border: 1px solid #999; /* 灰色边框 */
    opacity: 0.6;
    pointer-events: none;
}

#user-list-section {
    padding: 5px;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    overflow-x: hidden;
}

#user-list-section.horizon {
    padding: 3px;
}

#user-list-section.horizon #user-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.user-item {
    padding: 2px 4px;
    margin: 3px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #f1f1f1;
    color: #333;
    transition: background-color 0.3s ease;
    white-space: nowrap;     /* 禁止换行 */
    overflow: hidden;        /* 隐藏溢出的部分 */
    text-overflow: ellipsis; /* 使用省略号表示溢出 */
    display: inline-flex;   /* 保持为行内块元素，确保正确显示溢出效果 */
}

.user-item:hover {
    background-color: #e0e0e0;
}

.user-item.self {
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
}

.user-item .position {
    background-color: #f1c40f;
    color: #fff;
    padding: 0px 5px;
    margin-right: 5px;
    border-radius: 4px;
    font-weight: bold;
}

.fullScreamDialogOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.fullScreamDialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
}

.fullScreamDialog h2 {
    margin: 0 0 10px 0;
}

.fullScreamDialog .close-button {
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

#alert-container {
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#alert-container .alert-box {
    position: relative;
    height: 50px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out;
}

#alert-container .content {
    position: absolute;
    top: -100px;
    left: 40%;
    transform: translateX(-50%);
    background-color: #ee9;
    color: black;
    padding: 6px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 9999;
    transition: top 0.5s ease-in-out;
    font-size: 14px;
    display: flex;
    flex-direction: row;
}

#alert-container .alert-box.show .content {
    top: 10px;
}

#alert-container .alert-box.fade-out {
    opacity: 0;
}

#alert-container .alert-box .close-btn {
    background: none;
    border: none;
    color: #0008;
    cursor: pointer;
    width: 30px;
    height: 24px;
    font-size: 14px;
    text-align: center;
    margin-left: 10px;
}

#alert-container .alert-box p {
    margin: 0;
    padding: 0;
    text-wrap: nowrap;
}